<div class="quiz-container">
  <h1>🧠 Questionnaire 🧠</h1>

  <div class="timer">
    <p>⏳<span>{{ formattedTime }}</span></p>
  </div>
  @if (!quizFinished) {
    <div class="question-card">
      <h2>{{ questions[currentQuestionIndex].content }}</h2>
            <ul class="choices-list">
        @for (choice of questions[currentQuestionIndex].choices; track choice) {
          <li class="choice-item">
            <label class="choice-label">
              <input
                type="radio"
                name="question-{{ currentQuestionIndex }}"
                [value]="choice"
                [(ngModel)]="selectedAnswer"
              />
              {{ choice }}
            </label>
          </li>
        }
      </ul>
    </div>

    <button class="next-button" (click)="nextQuestion()">➡️ Next</button>
  }

  <!-- If the quiz is finished -->
  @if (quizFinished) {
    <div class="score-container">
      <h2>🎉 Congratulations, quiz completed! 🎉</h2>
      <div class="score-box">
        <p class="score-absolute">✅ Score: <strong>{{ finalscore }} / {{ questions.length }}</strong></p>
        <p class="score-percentage">📊 Percentage: <strong>{{ (finalscore / questions.length * 100)}}%</strong></p>
      </div>
    </div>
  }
</div>
