<div class="home-container">
    <div class="hero-section">
      <h1>Bienvenue sur <span class="highlight">QUIZYNOV</span></h1>
      <p>Développez vos compétences en participant à des quiz ! À la fin de chaque quiz, vous recevrez une note pour évaluer votre niveau. Bonne chance !</p>
      <a [routerLink]="['/categorys']" class="btn-start">Commencer les Quiz</a>
    </div>
    
    <div class="info-section">
      <div class="info-box">
        <h2>Des Quiz Divers</h2>
        <p>Choisissez parmi une grande variété de quiz pour tester vos connaissances sur différents sujets.</p>
      </div>
      <div class="info-box">
        <h2>Évaluez Votre Niveau</h2>
        <p>Obtenez une note précise pour chaque quiz et suivez vos progrès au fil du temps.</p>
      </div>
      <div class="info-box">
        <h2>Améliorez-vous</h2>
        <p>Revenez régulièrement pour des quiz plus difficiles et améliorez vos compétences.</p>
      </div>
    </div>
  </div>
  