<div class="home-container">
  <div class="hero-section">
    <h1>Welcome to <span class="highlight">QUIZYNOV</span></h1>
    <p>Enhance your skills by participating in quizzes! At the end of each quiz, you will receive a score to evaluate your level. Good luck!</p>
    <a [routerLink]="['/categorys']" class="btn-start">Start the Quizzes</a>
  </div>
  
  <div class="info-section">
    <div class="info-box">
      <h2>Various Quizzes</h2>
      <p>Choose from a wide range of quizzes to test your knowledge on different topics.</p>
    </div>
    <div class="info-box">
      <h2>Evaluate Your Level</h2>
      <p>Get an accurate score for each quiz and track your progress over time.</p>
    </div>
    <div class="info-box">
      <h2>Improve Yourself</h2>
      <p>Come back regularly for more difficult quizzes and improve your skills.</p>
    </div>
  </div>
</div>
