<!-- sidebar.component.html -->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 250px;">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
    >
      <span class="fs-4">Menu</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <!-- Lien dynamique pour "Home" -->
        <a [routerLink]="''" class="nav-link" routerLinkActive="active" aria-current="page">
          Home
        </a>
      </li>
      <li class="nav-item">
        <!-- Lien dynamique pour "Categories" -->
        <a [routerLink]="'/categorys'" class="nav-link" routerLinkActive="active">
          Categories
        </a>
      </li>
    </ul>
    
      
  
    <hr />
  </div>
  